@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --custom_grey:#393e46;
    --custom_orange:#DE9E46;
}

*{
    margin:0;
    padding:0;
}
body, html {
    height: 100%;
}

body{
    background-color: var(--custom_grey);
    font-family: Montserrat;
    overflow: hidden;
}

input, button{
    font-family: inherit;
}

#login-page{
    display: flex;
    justify-content: space-between;
}
#image-container{
    width: 50vw;
    height: auto;
}

#image-container img{
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
}

.login{
   display: flex;
   flex-direction: column;
    margin-right: 12vw;
    margin-left: 5vw;
    align-items: center;
    margin-bottom: 25vh;
    margin-top: 2vh;
}

.heading{
    font-size: 80px;
    color: var(--custom_orange);
    text-shadow: 2px 2px 4px rgb(23, 22, 22, 0.6);
    padding-left: 20px;
}
.heading-1{
    color: black;
}
.input-box{
    margin-top: 20px;
    background-color: var(--custom_grey);
    border-width: 1px;
    padding-left: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    color: white;
    border: 1px solid white;
}
.fill-area{
    border: none;
    background-color: var(--custom_grey);
    margin-left: 40px;
    padding-right: 100px;
    font-size: 16px;
    outline: none;
    color: white;
}

.password-input::after{
    content: "\1F441";
    position: absolute;
    right: 100px;
}

.icon{
    position: absolute;
    transform: translate(0px,-6px);
    width: 1.5rem;
}
.input-box a{
    margin-top: 10px;
}

#login-button[type=submit]{
    padding-left: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    margin-top:50px;
    text-align: center;
    font-size: 15px; 
    font-weight: bold;
    color: #2148C0;
}

#forget-password{
    text-decoration: none;
    color: white;
}

.forget-position{
    align-self: flex-end;
    margin-top: 15px;
}

.error-message{
    text-align: left;
    color: rgb(215, 3, 3);
    margin-top: 5px;
}

/*register menu*/
.register-container{
    display: flex;
    justify-content: space-between;
    max-height: 95%;
}
.container{
    position: relative;
    max-width: 30rem;
    margin: 5vw;
}

.join-us{
    color: white;
    font-size: 3rem;
    margin: 0 0 1rem 1.5rem;
    font-weight: bold;
}
/* Slideshow container */
.slideshow-container {
    width: 650px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 5px 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activate {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*registration innput part*/
.register-form{
    background-color: #FFD369 ;
    width: 30rem;
    margin: 2.1rem 5rem 0 0;
    border-radius: 0.5rem;
    padding: 2rem;
}

.input-box-1 input[type=text], input[type=integer], input[type=email]{
  display: block;
  width: 95%;
  padding: 0.75rem;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
  background-color: #dcdcdc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.input-box-2 input[type=password]{
    display: block;
    width: 95%;
    padding: 0.75rem;
    border: none;
    margin: 0.5rem 0 0.5rem 0;
    background-color: #dcdcdc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button{
    padding: 0.75rem;
    background-color: #D9D9D9;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 2rem 0 0 0;
}

.submit-button{
    padding: 1rem 5rem 1rem 5rem;
    background-color: #D9D9D9;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 9rem;
}

.margin-top-4{
    margin-top:4rem;
}

.text-center{
    text-align: center;
}

.form-step{
    display: none;
}

.form-step.active{
    display: block;
}

input[type=file]{
    display: block;
}

.input-box-1 input[type=file]{
    background-color: #D9D9D9;
    padding: 0.75rem;
    width: 95%;
    margin: 0.5rem 0 0.5rem 0;
}

.input-box-1 p{
    margin: 0 0 1rem 0;
    font-size: 75%;
}

label{
    font-weight: bold;
}

.width-30{
    width: 30%;
}

.birthdate-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
}

.password-error-message{
    color: red;
}
/*binus buttons*/
.binus-button input[type=button]{
    padding: 1rem;
    width: 48%;
    border:none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #dcdcdc;
}

.binus-button{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}


/*progress bar*/
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    counter-reset: step;
}

.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    background-color: #dcdcdc;
    height: 4px;
}
.progress-step{
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-step.active{
    background-color: var(--custom_grey);
    color: #fff;
}

.progress{
    background-color: var(--custom_grey);
    width: 0%;
    transition:ease-in-out 0.3s;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);
}

.register-body{
    overflow: scroll;
}

/*homepage*/

.homepage-body{
    background-color: #fff;
    overflow: visible;
    overflow-x: hidden;
  }
  
  .hp-content{
    position: absolute;
    z-index: 2;
  }
  
  .hp-video{
    position: absolute;
    left:40rem;
    z-index:2;
    bottom: 5rem;
  }
  
  .hp-h1{
    position: relative;
    z-index: 3;
  }
  
  .hp-h2{
    font-weight: 500;
    font-size: 3rem;
    padding-left: 20px;
    position: relative;
    z-index: 3;
  }
  
  .heading-container{
    margin:4rem 0 0 2rem;
  
  }

  /*homepage cloluds*/
  .cloud-container{
    top: 10px;
    transform: translateY(90px);
    z-index: 1;
  }
  
  .clouds{
    position: absolute;
    z-index: 1;
    transform: translateY(-310px);
    width: 100%;
  }
  
  /*navbar*/
  .navbar-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navbar-container a{
    text-decoration: none;
    color: #393e46;
    font-weight: bold;
    padding: 0.7rem 0 0 0;
  }
  
  .nav-heading{
    color: #DE9E46;
    font-size: 2rem;
  }
  
  .hp-login-button{
    background-color: #FFD369;
    padding: 0.7rem 2rem 0.7rem 2rem !important;
    border-radius: 50px;
    
  }

  /*champion section*/
  .prize-container{
    margin-top: 30rem;
  }
    .prize-container h1{
        text-align: center;
        margin: 3rem;
        font-size: 4rem;
    }
  .winners{
    display: flex;
    justify-content: space-between;

  }

  .placement{
   margin: 10rem 5rem 5rem 5rem;
  }

  .placement h3{
    font-size: 3rem;
    font-weight: 500;
  }

  .placement p{
    font-size: 1.5rem;
    color: #717171;
  }

  .vertical-line{
    border: 1px solid;
    height: 30rem;
  }

  .juries{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .jury-container{
    background-color: #393e46;
    margin-top: 3rem;
    padding: 3rem;
  }
  .jury-container h1{
    text-align: center;
  }

  .jury{
    color: #fff;
    text-align: center;
    margin: 1.25rem;
  }
  .vl-white{
    color: white;
  }

  .jury img{
    width: 20rem;
    padding: 2rem 0 2rem 0;
    display: block;
    margin:  0 auto 1rem;
  }

  /*mentor*/
  .mentors-container{
    background-color: #222831;
    padding: 2rem;
  }

  .mentors-container h1, .jury-container h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    padding: 2rem;
  }

  /*business slider*/
  .slideshow-container {
    width: 30rem;
    position: relative;
    margin: auto;
  }
  .slides{
    display: none;
    color: #fff;
    text-align: center;
  }

  .slides h2,p{
    margin: 1rem;
  }
  .slide-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active, .dot:hover {
    background-color: #FFD369;
  }

  .is-hidden {
    display: none;
}

.slideshow:not(.is-hidden) {
    display: block;
}

.menu{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 2rem 20rem 5rem 20rem;
 
}

.menu:hover{
  cursor: pointer;
}
.menu li{
  color: #fff;
  font-size: 2rem;
  position: relative;
}

.menu li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px; 
  background-color: #fff; 
  border-radius: 3px;
}

.menu li.actives::after {
  background-color: #FFD369;
}

.menu li.actives {
  font-weight: bold;
}

/*register container bottom*/
.registration-container{
  position: relative;
}
.general-info{
  display: flex;
  justify-content: center;
}

.left-container{
  width: 50%;
  margin: 5rem 0 5rem 5rem;

}

.left-container h2{
  text-align: center;
}

.right-container img{
  width: 40rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 5rem;
}

.download-button{
  text-decoration: none;
  padding: 1rem;
  background-color: #53D6FF;
  border: 1px solid #222831;
  display: block;
  width: 35%;
  border-radius: 50px;
  text-align: center;
  color: #222831;
  margin-top: 2rem;
}

.register-button{
  text-decoration: none;
  background-color: #FFD369;
  display: block;
  padding: 2rem;
  border-radius: 50px;
  width: 35%;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  left: 50rem;
  border: 2px solid #222831;
  color: #222831;
}
.footer{
  margin-top: 12rem;

}
/*slider bottom*/
.slider-container {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}

.slider {
  white-space: nowrap;
  animation: scrollAnimation 15s linear infinite;
}

.slide {
  display: inline-block;
  box-sizing: border-box;
  margin-right: -4px;
}

img {
  width: 80%;
  height: auto;
  display: block;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.title-heading{
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
}

.medpar-img{
  max-width: 30rem;
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.other-events-container{
  margin-top: 3rem;
}

.virtual-con, .developer-workshop{
  width: 50%;
  height: 50rem;
  padding-top: 5rem;
}

.virtual-con{
  background-color: #FFD369;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.developer-workshop{
  background-color: #fff;
  position: relative;
}
.event-img{
  width: 30rem;
  height: 30rem;
  margin-left: 10rem;
}


.events-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title-heading.other-events {
  position: absolute;
  top: 1rem;
  left: 35rem;
  z-index:1;
}

.register-other-1{
  left: 12.5rem;
  top: 44rem;
  position: absolute;
}

.register-other-2{
  left: 12.5rem;
  top: 44rem;
  position: absolute;
}

.any-questions{
  background-color: #FFD369;
  padding: 5rem;
}

.question-container{
  background-color: #222831;
  padding: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 100px;
  color: #fff;
  position: relative;
}

.question-container h2{
  margin-left: 10rem;
  font-size: 2rem;
}

.contact-us-button{
  background-color: #FFD369;
  position: absolute;
  display: block;
  text-decoration: none;
  padding: 1.5rem 5rem 1.5rem 5rem;
  border-radius: 50px;
  border: 2px solid #222831;
  left: 38rem;
  bottom: 4rem;
  color: #222831;
}

.socials{
  display: flex;
  justify-content: space-between;
  background-color: #FFD369;
  padding: 2rem;
}
.socials img{
  width: 8rem;
}

.black-hr{
  height: 2px;
  background-color: #222831;
}